<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
<h1 th:text="'List of owners details'">Owners List:</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 200px;">FirstName</th>
        <th style="width: 120px">LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}"></td>
        <td th:text="${owner?.firstName}"></td>
        <td th:text="${owner?.getLastName()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>