<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>vet page</title>
</head>
<body>
 <h1 th:text="'List of vets:'">List of vets...</h1>
 <table>
     <thead>
     <tr>
         <th>Id</th>
         <th>FirstName</th>
         <th>LastName</th>
     </tr>
     </thead>
     <tbody>
     <tr th:each="vet : ${vetList}">
         <td th:text="${vet?.id}"></td>
         <td th:text="${vet?.firstName}"></td>
         <td th:text="${vet?.getLastName()}"></td>
     </tr>
     </tbody>
 </table>
</body>
</html>